/* RESET & GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Arial', sans-serif;
    background: $third-color;
}





/* MAIN LAYOUT */
main {
    @include flex-center-column;
    width: 100%;
    padding-bottom: 10rem;

    .container {
        @include flex-row-adjustable(space-between, flex-start);
        width: 90%;

        .wrap {
            position: relative;
            @include flex-center-column;
            width: 50%;
        }
    }
}