@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}