@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@mixin flex-row-adjustable($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: row;

}

@mixin flex-column-adjustable($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: column;

}